.coverage
.venv/
htmlcov/
/test/integration/captions/worship_caption_removal_stats.json
/test/integration/mcr_teardown/test_home/
/test/integration/slides/actual_message_blueprints/
/test/manual/home/
__pycache__/
